AULA 1

In [2]:
print('Olá você! :D')

Olá você! :D

Variáveis (tipagem dinâmica) + Chamar a variável.

In [5]:
nome = 'camila'
idade = 35

print('boa tarde', nome)

boa tarde camila

Definindo variáveis: String, Int, float, bool(T or F).

In [5]:
pessoa = 'camila'
idade = 35
altura = 1.70
desenvolvedora = True

Chamando o tipo da variavel:

In [11]:
type(pessoa)

str

In [12]:
type(idade)

int

In [13]:
type(altura)

float

In [14]:
type(desenvolvedora)

bool

Mudando a variável: (str > int)

In [6]:
pessoa = 1234

print(pessoa)

type(pessoa)

1234

int

Python = tipagem dinamica e fortemente tipada:

In [7]:
x = '11'
print(1 + x)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Comentários:

(#) - linha 
""" (todo o código) 
jupyter (extensão)

Boas práticas:

nome,
nome1,
nome_completo,
nomeCompleto_cliente;

operações com variáveis:

In [8]:
idade1 = 20

In [9]:
idade2 = 35

In [10]:
idade1 + idade2

55

Guardar resultados:

In [11]:
somaIdades = idade1 + idade2

In [13]:
somaIdades

55

operações basicas: subtração, multiplicação e divisão

* = repetir para não inteiros

In [18]:
idade1 - idade2

30

In [15]:
idade1 * idade2

700

In [19]:
idade1 / 2

10.0

operações multiplas:

In [20]:
2 *(idade1 + idade2)

110

In [21]:
2 * idade1 + 3 * idade2 / 4

66.25

In [22]:
(2 * idade1 + 3 * idade2) / 4

36.25

exponenciação e outros operadores:

In [23]:
idade1 ** 2

400

outros operadores: (Parte inteira = //) indica a parte inteira de uma divisão.

In [27]:
idade2 // idade1

1

In [28]:
idade2 / idade1

1.75

Outros operadores: (Módulo = %) indica o resto de uma divisão

In [29]:
idade2 % idade1

15

concatenação de variáveis (+) usando o mesmo tipo:

In [30]:
nome = 'Luis'
sobrenome = 'Silva'

In [33]:
print(nome + ' ' + sobrenome)

Luis Silva

In [39]:
print('ola, ', nome, 'você tem ', idade1 + 15, 'anos.')

ola,  Luis você tem  35 anos.

In [40]:
print('ola, ', nome + '! ' + 'você tem ', idade1 + 15, 'anos.')

ola,  Luis! você tem  35 anos.